main {
    display: flex;
    padding-bottom: 25px;
    width: min-content;
    margin: auto;
}

.boxcurso img {
    height: 50px;
}

.boxcurso {
    padding: 25px;
    text-align: center;
    position: relative;
    background-image: linear-gradient(45deg, black, rgba(255, 0, 0, 0.527), rgba(239, 184, 16));
    margin-left: 7px;
    margin-right: 7px;
    height: 560px;
    width: 250px;
    border-radius: 10px;
    transition: border-radius .5s, transform .5s, filter .5s, rotate .5s;
}

span {
    display: flex;
    flex-direction: row;
}

span:hover > :not(:hover) {
    filter: blur(7px);
    transform: scale(95%);
    rotate: 1deg;
}

#cursojs img {
    border-radius: 15px;
}

.buttona {
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    left: 50%;
    padding: 10px 60px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(128, 128, 255);
    transform: translate(-50%);
    transition: border-radius .5s, background-color .7s;
}

.buttona:hover {
    border-radius: 12px;
    background-color: rgb(182, 182, 255);
}

.buttona:active {
    background-color: blue;
}

.boxcurso:hover {
    transform: scale(103%);
    border-radius: 20px;
}

@media screen and (max-width: 414px) {
    span {
        flex-direction: column;
    }

    .boxcurso {
        margin: 0;
        margin-bottom: 25px;
    }
}
