* {
    overflow-x:hidden;
    overflow-y:hidden;
}

body {
    /*background-image: url(https://64.media.tumblr.com/07f0e2b1632232d991bebe1da59e7c17/tumblr_owrsjkejpX1ue08b9o1_500.gifv);*/
    /*background-image: url(https://i.pinimg.com/originals/30/b8/17/30b8174c6f1a07e0af9bcf41fec3a5f5.gif);*/
    background-image: url(https://wallpapercave.com/wp/wp2757874.gif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center right;
}

main {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    
    width: 880px;
    transform: translate(-50%, -50%);
}

main h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 25px;
}

main p {
    text-indent: 30px;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 35px;
}

.participarposp {
    margin-right: 25px;
    padding: 15px 115px;
    border-radius: 10px;
    border: none;
    background-color: #595979;
    color: #ffffff;
    font-weight: 900;
    font-size: 20px;
    transition: border-radius .7s, background-color .7s, opacity .7s;
}

.participarposp:hover {
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.397);
}

footer {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 29px;
    color: white;
    animation: relog-anime 5s infinite;
}

@keyframes relog-anime {
    10%{color: rgba(255, 255, 255, 0.918);}
    25%{color: rgba(255, 255, 255, 0.822);}
    50%{color: rgba(255, 255, 255, 0.61);}
    75%{color: rgba(255, 255, 255, 0.753);}
    100%{color: rgb(255, 255, 255);}
}

@media screen and (max-width: 414px) {
    main h1 {
        font-size: 24px;
    }

    main p {
        font-size: 14px;
        width: 320px;
        margin: auto;
        margin-bottom: 25px;
    }

    .participarposp {
        padding: 10px 85px;
    }

    footer {
        font-size: 24px;
    }
}
