main {
    padding-bottom: 15px;
    width: min-content;
    margin: auto;
    margin-top: 75px;
}

img {
    height: 175px;
    border-radius: 15px;
}

#m1img {
    width: 175px;
}

#funimg {
    width: 175px;
}

div {
    display: inline-block;
    overflow-y: hidden;
    position: relative;
    margin-bottom: 15px;
    margin-left: 25px;
    width: max-content;
}

.row1, .row2, .row3 {
    width: 175px;
}

.text {
    width: 175px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.classificação {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: 15px;
}

.githubicon {
    position: absolute;
    bottom: 10px;
    left: 140px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    transition: color .5s;
}

.githubicon:hover {
    color: rgb(61, 61, 61);
}

h1, p {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(228, 228, 228);
}

.container {
    overflow-x: auto;
}

div::-webkit-scrollbar {
    height: 5px;
}

div::-webkit-scrollbar-track {
    background-color: rgb(62, 62, 62);
    border-radius: 50px;
}

div::-webkit-scrollbar-thumb {
    background-color: #595979;
    border-radius: 50px;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(34, 34, 34);
}
  
body::-webkit-scrollbar-thumb {
    background-color: #595979;
    border-radius: 50px;
}

@media screen and (max-width: 414px) {
    div {
        display: block;
        margin-left: 0;
        margin-bottom: 25px;
    }
}
